<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />

    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body>
    <div class="container">{{ content }}</div>
    <footer>
      <div class="socials-container">
        <a
          href="https://github.com/nvhiii"
          target="_blank"
          rel="noopener noreferrer"
          class="social-icon"
          aria-label="GitHub Profile"
        >
          <i class="fa-brands fa-github"></i>
        </a>
        <a
          href="https://open.spotify.com/user/224o2lzbiibqlr3ncsuf6qtwy?trackId=2Rw6wkd0q3LXx5xsdjLs1P"
          target="_blank"
          rel="noopener noreferrer"
          class="social-icon"
          aria-label="Spotify Profile"
        >
          <i class="fa-brands fa-spotify"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/nahi-khan/"
          target="_blank"
          rel="noopener noreferrer"
          class="social-icon"
          aria-label="LinkedIn Profile"
        >
          <i class="fa-brands fa-linkedin"></i>
        </a>
        <a
          href="https://drive.google.com/file/d/1hqlB33lsCyWPGOVxrkv7aLZ-22iSX4PE/view?usp=sharing"
          target="_blank"
          rel="noopener noreferrer"
          class="social-icon"
          aria-label="Resume"
        >
          <i class="fas fa-file"></i>
        </a>
        <a
          href="https://twitter.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="social-icon"
          aria-label="Twitter Profile"
        >
          <i class="fa-brands fa-x-twitter"></i>
        </a>
      </div>
    </footer>
  </body>
</html>
