---
layout: default
---

<div class="page-container">
  {% if page.usemathjax %} {% include mathjax.html %} {% endif %}
  <div class="navigation-container">
    <a href="{{ site.baseurl }}/" class="back-to-home">[..]</a>
    <div class="path-header">
      <p>
        {{ site.baseurl | append: page.url | remove: site.baseurl | prepend:
        'nahi@Nahi: ' }}
      </p>
    </div>
  </div>
  <div class="post-date">
    <p>{{ page.date | date: "%b %d, %Y" }}</p>
  </div>

  <div class="post-header">
    <h2>{{ page.title }}</h2>
  </div>

  <div class="post-content">{{ content }}</div>

  {% if page.footnotes %}
  <div class="footnotes-section">
    <h3 class="section-title">/////footnotes/////</h3>
    <ol>
      {% for footnote in page.footnotes %}
      <li id="footnote-{{ forloop.index }}">
        {{ footnote }}
        <a href="#ref-{{ forloop.index }}" class="footnote-backlink">↩</a>
      </li>
      {% endfor %}
    </ol>
  </div>
  {% endif %} {% if page.discussions %}
  <div class="discussions-section">
    <h3 class="section-title">/////discussions/////</h3>
    <ol>
      {% for discussion in page.discussions %}
      <li>
        <a href="{{ discussion.url }}" target="_blank"
          >{{ discussion.title }}</a
        >
      </li>
      {% endfor %}
    </ol>
  </div>
  {% endif %}
</div>
