---
layout: default
---

<div class="page-container">
  <div class="navigation-container">
    <a href="{{ site.baseurl }}/" class="back-to-home">[..]</a>
    <div class="path-header">
      <p>
        {{ site.baseurl | append: page.url | remove: site.baseurl | prepend:
        'nahi@Nahi: ' }}
      </p>
    </div>
  </div>

  <div class="project-container">
    <div class="project-layout">
      <!-- Left Sidebar -->
      <div class="sidebar">
        <ul>
          {% for section in page.sections %}
          <li><a href="#{{ section.id }}">{{ section.title }}</a></li>
          {% if section.subsections %}
          <ul>
            {% for subsection in section.subsections %}
            <li><a href="#{{ subsection.id }}">{{ subsection.title }}</a></li>
            {% endfor %}
          </ul>
          {% endif %} {% endfor %}
        </ul>
      </div>

      <!-- Right Content Area -->
      <div class="content">
        <!-- Title dynamically included -->
        <h1 class="project-title">{{ page.title }}</h1>

        <!-- Render sections dynamically -->
        {% for section in page.sections %}
        <h2 id="{{ section.id }}" class="project-header">
          {{ section.title }}
        </h2>
        <p>{{ section.description }}</p>

        {% if section.subsections %} {% for subsection in section.subsections %}
        <h3 id="{{ subsection.id }}">{{ subsection.title }}</h3>
        <p>{{ subsection.content }}</p>
        {% endfor %} {% endif %} {% endfor %}
      </div>
    </div>
  </div>
</div>
